{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "ignore": [
        "node_modules",
        "store.js",
        "coverage",
        "legacy",
        "cliModel/starter-code"
    ],
    "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime"
    ]
}
